@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Inter:wght@400;500;600;800&family=Nunito:wght@800&display=swap");

$textFont: Inter;
$headerPostFont: Nunito;
$dateFont: IBM + Plex + Sans;
